.container{
    display: flex;
    background: #fbfbfb;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
}
.item{
    background: #795151c6;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    margin: 5px;
    padding: 20px;
    text-align: center;
}
nav{
    background-image: url(imagenes/frente.png);
    background-size: cover;
    background-position: center;
    height: 50px;
    padding: 20px;
    text-align: center;
}
h1{
    color: rgb(103, 30, 30);
    font-size: 35px;
    margin: 0;
    padding: 10px;
    font-family: elevate, sans-serif;
}
p{
    color:rgb(103, 30, 30);
    padding: 10px;
    text-align: center;
}
footer{
    color:rgb(103, 30, 30);
    text-align: center;
}